<html>
<head>
	<title>Cryptex 3.0 | Drishti</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/comingsoon.css">

</head>
<body>
	<div class="parent" align="center">
		<h1 style="margin-top:2.7em; font-family: 'Luckiest Guy', cursive;">Cryptex 3.0</h1>
		<div class="container" align="center">
			<div class="left">
				<p id="countdown"></p>
			</div>
			<div class="right">
                <h2>In association with</h2>
                <img src="/assets/foss.png" class="foss">
                <img src="/assets/drishti.png" class="drishti">
	
	</div>
	<script type="text/javascript" src="/js/countdown.js"></script>
</body>
</html>